<div class="modal fade" id="member_trade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<input type="hidden" id="hidden-email">
		<div class="modal-content" id="member-order-box">

		</div>

	</div>
</div>



	<div class="modal fade" id="alarm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" >알림 등록</h4>
					</div>

					<div class="modal-body">
							<fieldset>
							<div class="form-group">
							  <input class="form-control input-lg" placeholder="내용을 입력하세요" id="alarm-input">
							</div>
							</fieldset>
					</div>
					<div class="modal-footer">
					  <input type="button" value = "완료" id="alarm-done" class="btn btn-primary" data-dismiss="modal">
						<input type="button" value = "닫기" class="btn btn-default" data-dismiss="modal">
					</div>

				</div>
			</div>
		</div>






		<div class="modal fade" id="coupon_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" >쿠폰 등록</h4>
						</div>

						<div class="modal-body">
								<fieldset>
								<div class="form-group">
								  <input class="form-control input-lg" placeholder="쿠폰명" id="coupon-name" maxlength="20">
								  <input type ="number" class="form-control input-lg" placeholder="금액(1000/2000/3000/4000/5000원)" id="coupon-amount" step="1000", min="1000", max="5000" maxlength="4">
								</div>
								</fieldset>
						</div>
						<div class="modal-footer">
						  <input type="button" value = "완료" id="coupon-done" class="btn btn-primary" data-dismiss="modal">
							<input type="button" value = "닫기" class="btn btn-default" data-dismiss="modal">
						</div>
					</div>
				</div>
			</div>




			<div class="modal fade" id="milage_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" >마일리지 쏘기</h4>
							</div>

							<div class="modal-body">
									<fieldset>
									<div class="form-group">
										<input class="form-control input-lg" placeholder="제목" id="milage-title" maxlength="20">
									  <input type="number" class="form-control input-lg" placeholder="금액(100단위)" id="milage-amount" min="100" step="100" maxlength="4">
									</div>
									</fieldset>
							</div>
							<div class="modal-footer">
							  <input type="button" value = "완료" id="milage-done" class="btn btn-primary" data-dismiss="modal">
								<input type="button" value = "닫기" class="btn btn-default" data-dismiss="modal">
							</div>

						</div>
					</div>
				</div>





				<div class="modal fade" id="discount-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content" id="discount-content">


							</div>
						</div>
					</div>