		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">			
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>문의사항</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default" style="position:relative;">
					<div class="panel-heading">1:1 문의 List</div>
					<div class="panel-body">
						
						<table id="question_table" data-toggle="table" data-url=""  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
							    <tr>
							        <th data-field="check" data-checkbox="true" ></th>
							        <th data-field="email" data-sortable="true">제목</th>
							        <th data-field="name" data-sortable="true">이름</th>
							        <th data-field="phone" data-sortable="true">연락처</th>
							        <th data-field="password" data-sortable="true">등록일시</th>
							        <th data-field="agree" data-sortable="true">상태</th>
							    </tr>
						    </thead>
						    <tbody>
					    		<tr>
					    			<td></td>
					    			<td class="member_email">customer@buying.com</td>
					    			<td class="member_name"><a href="#" data-toggle="modal" data-target="#member_trade">궁금해</a></td>
					    			<td class="member_pw">1111</td>
					    			<td class="member_phone">01012341234</td>
					    			<td class="member_phone">확인전</td>
					    		</tr>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
	</div><!--/.main-->