<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BUYING</title>
	<link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
</head>

<body>

	<div class="modal" style="display: block;">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">

	        <h4 class="modal-title">비밀번호 변경</h4>
	      </div>
	      <div class="modal-body">
	        <fieldset>

	          <div class="form-group">
	              <input class="form-control" placeholder="Password(6~20)" maxlength="20" minlength="6" name="pw" type="password" id ="pwv" >
	          </div>

	      </fieldset>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="submit" onclick="resetSubmit(<%=JSON.stringify(obj)%>)">변경</button>
	      </div>
	    </div>
	  </div>
	</div>


	<script src="../js/client/reset_pw.js"></script>
</body>

</html>